.App {
  width: 100%;
}

/* LANDING CSS STARTS */
.landing {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: #2F2E41;
}

.heading-text {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  margin-left: 100px;
  margin-top: 200px;
}

.landing-photo {
  position: relative;
  height: 77%;
  left: 20%;
  top: 79px;
}
/* LANDING CSS ENDS */

/* WELCOME TEXT CSS STARTS */
.welcome-panel {
  width: 100vw;
  text-align: center;
  background-color: #FFFFFF;
}
.welcome-text {
  margin: 50px;
  text-align: center;
  color: #3F3D56;
  font-size: 56px;
}
/* WELCOME TEXT CSS ENDS */

/* SEARCH BAR CSS STARTS */

.searchBarContainer {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 821px;
  height: 80px;
  font-size: 24px;
  background: #D0CDE1;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.searchBarInput {
  vertical-align: center;
  padding: 10px 0px 0px 10px;
  height: 100%;
  width: 100%;
  border: none;
  align-content: center;
  background: #FFFFFF;
  color: #D0CDE1;
  width: 700px;
  font-size: 24px;
  border-radius: 15px;
  height: 50px;
}

.searchBarInput input {
  border: none;
  color: #D0CDE1;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;  
}

.searchBarIcon {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.searchBarIcon img {
  height: 100%;
  width: 100%;
}

.searchBarIcon button {
  background: #D0CDE1;
  border: none;
  height: 100%;
  width: 100%;
}

/* SEARCH BAR CSS ENDS */

/* SEARCH LIST CSS STARTS */
#devListContainer{
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

#devList {
  margin-left: 200px;
  column-count: 2;
  list-style-type: none;
  /* center the list */
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#devList li {
  background: url('res/Icons_Illustrations/account_circle-24px.svg') no-repeat left;
  background-size: 100px 100px;
  font-size: 36px;
  line-height: 100px;
  color: #9F8E63;
  height: 100px;
  padding-left: 148px;
  align-items: center;
  justify-content: center;
  /* margin-left: 200px; */
}

#devList a {
  text-decoration: none;
  color: #9F8E63;
}

/* SEARCH LIST CSS ENDS */

/* ADD DEV PANEL STARTS */
.addDevPanel {
  justify-content: center;
  text-align:center;
}
.addDevButton {
  font-family: 'Nunito Sans', sans-serif;
  color: #FFFFFF;
  background: #7C639F;
  border-radius: 15px;
  width: 456px;
  height: 82px;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.text {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #3F3D56;
  font-size: 36px;
  display: block;
}
/* ADD DEV PANEL ENDS */

/* FORM CSS STARTS */

.formTitle{
  font-size: 32px;
  line-height: 44px;
  left: 50px;
  top: 50px;
  position: absolute;
}

.devFormOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.devForm {
  background-color:rgba(255, 255, 255, 1);
  position: absolute;
  top: 10%;
  width: 60%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  text-align: left;
}

.devFormContent {
  margin-left: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1;
}

.devFormContent input {
  height: 50px;
  width: 600px;
  background: #FFFFFF;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
}

.devFormContent label {
  /* make label go left */
  position: relative;
  float: left;
  margin-bottom: 20px;
  font-size: 24px;
  color: #3F3D56;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.formFooter {
  width: 100%;
  position: absolute;
  bottom: 140px;
}

#cancel-btn {
  position: absolute;
  right: 300px;
  bottom: -45px;
  font-size: 24px;
  background: none;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
}

#submit-btn {
  position: absolute;
  right: 60px;
  font-size: 24px;
  color: #FFFFFF;
  width: 175px;
  height: 50px;
  background: #7C639F;
  border-radius: 15px;
  font-family: 'Nunito Sans', sans-serif;
}
/* FORM CSS ENDS */

/* FOOTER CSS STARTS */
.footer {
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  background: #3F3D56;
}
/* FOOTER CSS ENDS */

/* DEV INFO PAGE CSS STARTS */

/* NAVBAR CSS STARTS */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #3F3D56;
  border-bottom: 1px solid #D0CDE1;
}

.navbar p {
  font-size: 24px;
  margin-left: 34px;
  color: #FFFFFF;
}

.navbar a {
  font-size: 24px;
  margin-right: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

/* NAVBAR CSS ENDS */

/* ABOUT PANEL CSS STARTS */

.about-container{
  background-color: #E5E5E5;;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.pfp{
  margin-left: 100px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.info-container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.name {
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 30px;
  color: #3F3D56;
}

.bio {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 30px;
  color: #3F3D56;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-bottom: 30px;
}

.link-icon {
  height: 30px;
  width: 30px;
  margin-right: 14px;
}

.link-container {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* align-content: center; */
  margin-bottom: 30px;
}

.link {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  font-size: 16px;
  margin-right: 18px;
}

.link-text {
  margin-top: 5px;
  margin-left: 11px;
}

.link-text a {
  text-decoration: none;
}

/* ABOUT PANEL CSS ENDS */

/* REPO PANEL CSS STARTS */

.repo-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 50px;
  margin-bottom: 100px;
}

.repo-title {
  text-align: center;
  font-size: 56px;
  line-height: 76px;
  color: #3F3D56;
}

.repo-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 80px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.repo-item {
  display: flex;
  flex-direction: column;
}

.repo-item hr {
  margin-top: 40px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.repo-name {
  margin-top: 30px;
  font-size: 36px;
  line-height: 49px;
  list-style-type: none;
  color: #0768FA;
}
/* REPO PANEL CSS ENDS */

/* DEV INFO PAGE CSS ENDS */


input:focus {
  outline: none;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}